.ed-card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 5rem 0rem 5rem 0rem;

  }
  
  .ed-content {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    color: #e8e8e8;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 10px;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .ed-heading {
    font-weight: 400;
    font-size: 20px;
    color: black;
  }
  
  .ed-para {
    line-height: 0.5;

  }
  
  .ed-content .btn {
    color: #e8e8e8;
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    background: linear-gradient(-45deg, #E78895 0%, #f43f5e 100% );
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  
  .ed-card::before {
    content: "";
    position: absolute;
    right: 10%;
    bottom: 0;
    width: 30px;
    height: 100%;
    background: linear-gradient(-45deg, #E78895 0%, #f43f5e 100% );
    z-index: -1;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .ed-card:hover::before {
    width: 80%;
  }
  
  .ed-card:hover {
    box-shadow: none;
  }
  
  .ed-card:hover .btn {
    color: #212121;
    background: #e8e8e8;
  }
  
  .content .btn:hover {
    outline: 2px solid #e8e8e8;
    background: transparent;
    color: #e8e8e8;
  }
  
  .content .btn:active {
    box-shadow: none;
  }
  