.button-btn {
    position: relative;
    width: 180px;
    height: 45px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid #fb798f;
    background-color: #f43f5e;
    overflow: hidden;
    margin: 2rem;
  }
  
  .button-btn, .button__icon, .button__text {
    transition: all 0.3s;
  }
  
  .button-btn .button__text {
    transform: translateX(10px);
    color: #fff;
    font-weight: 600;
  }
  
  .button-btn .button__icon {
    position: absolute;
    transform: translateX(130px);
    height: 100%;
    width: 45px;
    background-color: #f43f5e;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button-btn .svg {
    width: 20px;
    fill: #fff;
  }
  
  .button-btn:hover {
    background: #f43f5e;
  }
  
  .button-btn:hover .button__text {
    color: transparent;
  }
  
  .button-btn:hover .button__icon {
    width: 148px;
    transform: translateX(0);
  }
  
  .button-btn:active .button__icon {
    background-color: #f43f5e;
  }
  
  .button-btn:active {
    border: 1px solid #146c54;
  }