.button-box{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5rem 0rem 5rem 0rem;

}

.head-button {
    padding: 1em 2em;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    cursor: pointer;
    color: black;
    transition: all 1000ms;
    font-size: 15px;
    position: relative;
    overflow: hidden;
    outline: 2px solid #f43f5e;
    width: 300px;
  }
  
  .head-button:hover {
    color: #ffffff;
    transform: scale(1.1);
    outline: 2px solid #ef92a1;
    box-shadow: 4px 5px 17px -4px #f43f5e;
  }
  
  .head-button::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #f43f5e;
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
  }
  
  .head-button:hover::before {
    width: 350%;
  }

.skill-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


.skill-box{
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 150px;
    height: 150px;
    background-color: #fcfafa;
    padding: 1rem;
    border-radius: 300px;
    
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.skill-box:hover{
  color: white;
  background-color: black;
  transition: all ease-in-out 0.5s;

}
.skill-box p{
  margin: 10px;
  font-weight: 600;
}
.skill-box p:hover{
  color: white;
  font-size: 20px;
}

.button-box{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .head-button {
      padding: 1em 2em;
      border: none;
      border-radius: 5px;
      font-weight: bold;
      letter-spacing: 5px;
      text-transform: uppercase;
      cursor: pointer;
      color: black;
      transition: all 1000ms;
      font-size: 15px;
      position: relative;
      overflow: hidden;
      outline: 2px solid #f43f5e;
    }
    
    .head-button:hover {
      color: #ffffff;
      transform: scale(1.1);
      outline: 2px solid #ef92a1;
      box-shadow: 4px 5px 17px -4px #f43f5e;
    }
    
    .head-button::before {
      content: "";
      position: absolute;
      left: -50px;
      top: 0;
      width: 0;
      height: 100%;
      background-color: #f43f5e;
      transform: skewX(45deg);
      z-index: -1;
      transition: width 1000ms;
    }
    
    .head-button:hover::before {
      width: 250%;
    }

