.about {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  max-height: fit-content;
}

.card {
  padding: 2em;
  max-width: 80%;
  max-height: fit-content;
  background: white;
  border-radius: 10px;
  transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.shadow {
  background: linear-gradient(145deg, #e2e8ec, #ffffff);
  box-shadow: 4px 4px 8px #cbcbcb, -4px -4px 8px #ffffff;
}

.about-info {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 1em;
}

.about-info .box {
  display: flex;
  align-items: center;
  padding: 5px;
}

.about-info .box .text-info {
  width: 100px; 
}

.about-info .box .info {
  margin-left: 10px; 
}

@media screen and (max-width: 576px) {
    .card {
      max-width: 90%; 
      padding: 1em; 
    }
  
    .about-info .box {
      flex-direction: column; 
      align-items: flex-start; 
      padding: 10px 0; 
    }
  
    .about-info .box .text-info {
      width: auto;
      margin-bottom: 5px;
    }
  
    .about-info .box .info {
      margin-left: 0; 
    }
  }
  
